/* Header */

.Navigation{
    width: 100%;
    background-color: #0673F0;
}
.navHead{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.navLogo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.toggle{
    display: none;
    color: white;
    font-size: 20px;
}
.navHead input{
    height: 40px;
    width: 220px;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.navMenu{
    width: 90%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navItem{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navLink{
    font-size: 16px;
    color: white;
    padding: 0.8rem 5px;
}
.navLink:hover{
    text-decoration: underline;
}
.navLogin{
    font-size: 16px;
    color: white;
    padding: 0.8rem 5px;
    cursor: pointer;
}
.navIcon{
    font-size: 20px;
    cursor: pointer;
    color: white;
}

@media (min-width: 1024px){
    .navLogo img{
        width: 150px;
    }
    .navIcon{
        font-size: 24px;
    }
}
@media (max-width: 768px){
    .toggle{
        display: block;
    }
    .navHead input{
        width: 150px;
        font-size: 10px;
        height: 30px;
    }
    .navMenu{
        padding: 0;
    }
    .navItem{
        display: none;
    }
    .active{
        display: flex;
        height: auto;
        padding: 1rem 0;
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
    .navItem li{
        margin-bottom: 2px;
    }
    .navLink{
        padding: 0.5rem 5px;
        width: 100%;
    }
}
@media (max-width: 640px){
    .navLogo img{
        width: 110px;
    }
    .navHead input{
        width: 120px;
    }  
}



/* Footer */

footer{
    width: 100%;
    background-color: #0673F0;
}
.footer{
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    align-items:start;
    justify-content: space-between;
}
.footer img{
    width: 150px;
}
.footSide{
    display: flex;
    gap: 2rem;
}
.footItem h1{
    margin-bottom: 1rem;
    font-size: 28px;
    font-weight: 500;
}
.footList{
    margin-bottom: 0.5rem;
}
.footLink{
    font-size: 18px;
    color: white;
    font-weight: 300;
}
.footLink:hover{
    color: gainsboro;
    text-decoration: underline;
}
.footAdd{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
@media (min-width: 1024px){
    .footSide{
        gap: 4rem;
    }
}
@media (max-width: 640px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer img{
        margin-bottom: 3rem;
    }
    .footSide{
        text-align: center;
        flex-direction: column;
        gap: 0.5rem;
    }
    .footItem h1{
        font-size: 24px;
    }
    .footLink{
        font-size: 16px;
    }
    .footAdd{
        font-size: 14px;
    }
}